<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Exploratory Data Analysis</title>

<link href="{{ url_for('static', filename='css/stylew3.css') }}" rel='stylesheet' type='text/css' />

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Medical Emergency Form template Responsive, Login form web template,Flat Pricing tables,Flat Drop downs Sign up Web Templates, 
 Flat Web Templates, Login sign up Responsive web template, SmartPhone Compatible web template, free web designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Custom Theme files -->
<link href="{{ url_for('static', filename='css/style7.css') }}" rel='stylesheet' type='text/css' />
<!--fonts--> 
<link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">


<!--//fonts--> 
</head>
<body>
<!--background-->
<h1> Exploratory Data Analysis</h1>
    <div class="bg-agile">
	<div class="book-appointment">
	<h2>Cluster Image</h2>
		<div align = 'center'>
		<img src="./static/images/cluster3.jpeg" alt="clustering" style="width:550px;height:350px;">
		</div>
	<br> </br>
	<h3 style="text-align:center;"><font color = 'white'> Above is an image of cluster analysis. As there are 13 types of different pitching method and 8 general types of pitcher, it is often quite confusing in expressing the differences among each type of pitchers. Each pitcher often concentrates in a few pitching methods, which further diversify the types of pitchers. To simplify the pitcher categories, unsupervised K-means clustering is performed in order to capture the similarity among the pitching methods. Elbow method is used to select the number of clusters, which is 3 in this case. By applying clustering analysis to more than 600 pitchers with their frequencies in use of each pitching methods, our model successful separates the pitcher into three major types. The composition of the pitching method of each pitcher can be found in the next figure. </font></h3>
				<div class="clear"></div>
	

	<br> </br>
	<br> </br>
	<h2>Barchart - Pitcher Type by Clusters</h2>
		<div align = 'center'>
		<img src="./static/images/bar.jpeg" alt="cluster_bar" style="width:550px;height:350px;">
		</div>
	<br> </br>
	<h3 style="text-align:center;"><font color = 'white'> Above is a barchart of pitcher types based on the result of clustering analysis. As shown, clustering analysis determines three major types of pitchers. Cluster 0 consists the most diverse pitchers such that they concentrate in various pitching type including FF – four seam fastball, FT – two seam fastball, and FC – cutter fastball. The pitchers in cluster 1 are less diversify as most of them concentrate in CH – changeup along with some concentrations of SL – slider. Pitchers in cluster 2 is the least diverse with a high concentration in FF – fastball. </font></h3>
				<div class="clear"></div>
		
		
	<br> </br>
	<br> </br>
	<h2>National League Teams Win-Loss Difference Heatmap</h2>
		<div align = 'center'>
		<img src="./static/images/wl1.jpeg" alt="winloss1" style="width:550px;height:400;">
		</div>
	<br> </br>
	<h3 style="text-align:center;"><font color = 'white'> Above is a heatmap of the win-lose difference of the baseball teams in the National League. A higher number (green) represents a team wins a higher number of games while a smaller numbers (purple) represents a team loses a higher number of games. </font></h3>
				<div class="clear"></div>


	<br> </br>
	<br> </br>
	<h2>American League Teams Win-Loss Difference Heatmap</h2>
		<div align = 'center'>
		<img src="./static/images/wl2.jpeg" alt="winloss2" style="width:550px;height:400;">
		</div>
	<br> </br>
	<h3 style="text-align:center;"><font color = 'white'>Above is a heatmap of the win-lose difference of the baseball teams in the American League. A higher number (green) represents a team wins a higher number of games while a smaller numbers (purple) represents a team loses a higher number of games.</font></h3>

				<ul>
  					<div class="w3-container">
  					<h1> </h1>
  							<a href="/#projects" class="w3-button w3-orange">Back to Home Page</a>
					</div>
				</ul>
		
	</div>

		
   </div>
   


</body>
</html>