<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Career Path Prediction</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Medical Emergency Form template Responsive, Login form web template,Flat Pricing tables,Flat Drop downs Sign up Web Templates, 
 Flat Web Templates, Login sign up Responsive web template, SmartPhone Compatible web template, free web designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Custom Theme files -->
<link href="{{ url_for('static', filename='css/style.css') }}" rel='stylesheet' type='text/css' />
<!--fonts--> 
<link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
<!--//fonts--> 
</head>
<body>
<!--background-->
<h1> Is The Player Before Or After His Peak?</h1>
    <div class="bg-agile">
	<div class="book-appointment">
	<h2>Player Information</h2>
			<form method="POST" action="/result">
				<div class="left-agileits-w3layouts same">
					<div class="gaps">
						<p>OPS</p>
						<input type="text" name="OPS" placeholder="" required=""/>
					</div>	
					<div class="gaps">
						<p>Games_Played</p>
							<input type="text" name="Games_Played" placeholder="" required=""/>
					</div>
					<div class="gaps">
						<p>Salary</p>
							<input type="text" name="Salary" placeholder="" required=""/>
					</div>
					<div class="gaps">
							<p>Age</p>
								<input type="text" name="Age" placeholder="" required=""/>
						</div>
					<div class="gaps">
						<p>Weight in pounds</p>
						<input type="text" name="Weight in pounds" placeholder="" required=""/>
					</div>	
					<div class="gaps">
						<p>Height in inches</p>
						<input type="text" name="Height in inches" placeholder="" required=""/>
					</div>			
					
							
					
				</div>
				<div class="right-agileinfo same">
					<div class="gaps">	
						<p>Bats Both</p>
						<input type="text" name="Bats Both" placeholder="" required=""/>
					</div>
					<div class="gaps">	
						<p>Bats Left</p>
						<input type="text" name="Bats Left" placeholder="" required=""/>
					</div>
					<div class="gaps">
						<p>Bats Right</p>
						<input type="text" name="Bats Right" placeholder="" required=""/>
					</div>
					<div class="gaps">	
						<p>Throws Left</p>
						<input type="text" name="Throws Left" placeholder="" required=""/>
					</div>
					<div class="gaps">
						<p>Throws Right</p>
						<input type="text" name="Throws Right" placeholder="" required=""/>
					</div>
					
				
				
				</div>
				<div class="clear"></div>
				<input type=submit value='Submit for Career Path Prediction' name='submit_btn'>
			</form>
		</div>
   </div>
   <!--
			<div class="copy w3ls">
		       <p>&copy; yz3284 </a> </p>
	        </div>
		-->
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.4.min.js') }}"></script>
		<!-- Calendar -->
				<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}" />
				<script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
				  <script>
						  $(function() {
							$( "#datepicker,#datepicker1,#datepicker2,#datepicker3" ).datepicker();
						  });
				  </script>
			<!-- //Calendar -->

</body>
</html>