<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Award Prediction</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Medical Emergency Form template Responsive, Login form web template,Flat Pricing tables,Flat Drop downs Sign up Web Templates, 
 Flat Web Templates, Login sign up Responsive web template, SmartPhone Compatible web template, free web designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Custom Theme files -->
<link href="{{ url_for('static', filename='css/style8.css') }}" rel='stylesheet' type='text/css' />
<!--fonts--> 
<link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
<!--//fonts--> 
</head>
<body>
<!--background-->
<h1> Baseball Player Information Input</h1>
    <div class="bg-agile">
	<div class="book-appointment">
	<h2>Player Information</h2>
			<form method="POST" action="/result2">
				<div class="left-agileits-w3layouts same">
					<div class="gaps">
						<p>Years_Played</p>
						<input type="text" name="Years_Played" placeholder="" required=""/>
					</div>	
					
					<div class="gaps">
						<p>Hits</p>
							<input type="text" name="H" placeholder="" required=""/>
					</div>

					<div class="gaps">
						<p>Base on Balls</p>
						<input type="text" name="BB" placeholder="" required=""/>
					</div>	
					
					<div class="gaps">
						<p>Homeruns</p>
						<input type="text" name="HR" placeholder="" required=""/>
					</div>		
						
					<div class="gaps">	
						<p>AVE</p>
						<input type="text" name="AVE" placeholder="" required=""/>
					</div>
					
					<div class="gaps">
						<p>OBP</p>
						<input type="text" name="OBP" placeholder="" required=""/>
					</div>		
					
					<div class="gaps">	
						<p>SlugPercent</p>
						<input type="text" name="SlugPercent" placeholder="" required=""/>
					</div>
					
					<div class="gaps">	
						<p>OPS</p>
						<input type="text" name="OPS" placeholder="" required=""/>
					</div>
					
					<div class="gaps">
						<p>RBI</p>
						<input type="text" name="RBI" placeholder="" required=""/>
					</div>		
					
					<div class="gaps">	
						<p>Runs</p>
						<input type="text" name="R" placeholder="" required=""/>
					</div>
					
					<div class="gaps">
						<p>Stolen Bases</p>
						<input type="text" name="SB" placeholder="" required=""/>
					</div>		
					
					<div class="gaps">	
						<p>Doubles</p>
						<input type="text" name="2B" placeholder="" required=""/>
					</div>		
					
							
					
				</div>
				<div class="right-agileinfo same">
					<div class="gaps">
						<p>Triples</p>
						<input type="text" name="3B" placeholder="" required=""/>
					</div>
					
					<div class="gaps">
						<p>At Bats</p>
						<input type="text" name="AB" placeholder="" required=""/>
					</div>
					
						
					<div class="gaps">
						<p>Strikeouts</p>
						<input type="text" name="SO" placeholder="" required=""/>
					</div>
					
					<div class="gaps">
						<p>Double Plays</p>
						<input type="text" name="DPf" placeholder="" required=""/>
					</div>
					
					<div class="gaps">
						<p>Af</p>
						<input type="text" name="Af" placeholder="" required=""/>
					</div>
					
					<div class="gaps">
						<p>Ef</p>
						<input type="text" name="Ef" placeholder="" required=""/>
					</div>

					<div class="gaps">
						<p>YSLS</p>
						<input type="text" name="YSLS" placeholder="" required=""/>
					</div>
					
					<div class="gaps">
						<p># of Games</p>
						<input type="text" name="G_all" placeholder="" required=""/>
					</div>

					<div class="gaps">
						<p>Debut Age</p>
						<input type="text" name="debut_age" placeholder="" required=""/>
					</div>

					<div class="gaps">
						<p>Weight</p>
						<input type="text" name="weight" placeholder="" required=""/>
					</div>
					
					<div class="gaps">
						<p>Height</p>
						<input type="text" name="height" placeholder="" required=""/>
					</div>
					
					
				
				
				</div>
				<div class="clear"></div>
				<input type=submit value='Submit for Award Prediction' name='submit_btn'>
			</form>
		</div>
   </div>
   <!--copyright
			<div class="copy w3ls">
		       <p> Leo Lam </a> </p>
	        </div>
		-->


</body>
</html>