<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Award Winner Prediction Result</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Medical Emergency Form template Responsive, Login form web template,Flat Pricing tables,Flat Drop downs Sign up Web Templates, 
 Flat Web Templates, Login sign up Responsive web template, SmartPhone Compatible web template, free web designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Custom Theme files -->
<link href="{{ url_for('static', filename='css/style2.css') }}" rel='stylesheet' type='text/css' />
<!--fonts--> 
<link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!--//fonts--> 
</head>
<body>
<!--background-->
<h1> Baseball Player Prediction:</h1>
    <div class="bg-agile">
	<div class="book-appointment">
	<h2>RESULTS</h2>
			<form method="POST" action="/result2">
				<h2>High Chance to Become an Award Winner (Hall Of Fame Candidate)</h2>
		<div class="w3-container">
  				<a href="/#projects" class="w3-button w3-orange">Back to Home Page</a>
				<a href="/project2" class="w3-button w3-orange">Another Prediction</a>

		</div>

				<div class="clear"></div>
			</form>
		</div>
   </div>

</body>
</html>